@import url(webapp.css);

/* habit-cards */

.habit-card {
    height: 375px;
    width: 275px;
    border-color: #d7dfe3;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 15px;
    position: relative;
}

.habit-card-img-top {
    width: 100%;
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
}

.habit-card-rabbit-img {
    width: 90px;
    height: 90px;
    margin-top: -80px;
    border-radius: 100%;
}
.habit-card-rabbit-img img {
    height: 90px;
    border-radius: 100%;
}

.card-block {
    height: 100%;   
    width: 100%;
    text-align: center;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit-card-stats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-button {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 0;
}

.habit-card-stat {
    width: 33.333%;
    padding: 0 10px;
    text-overflow: none;
}

.habit-card-stat h3 {
    font-weight: 400;    
}

.habit-card-delete, .habit-card-edit {
    color: white;
    position: absolute;
    display: none;
    cursor: pointer;
    padding: 15px;
}

.habit-card-edit {
    right: 0px;
}

.habit-card:hover .habit-card-delete, .habit-card:hover .habit-card-edit {
    display: block;
}

/* Modal Styling */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal h1 {
    padding-bottom: 30px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    /*15%fromthetopandcentered*/padding: 20px;
    border-radius: 4px;
    width: 40%;
    /*Couldbemoreorless,dependingonscreensize*/box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input[type="text"], .modal-content input[type="number"], .modal-content select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal input, .modal select {
    margin: 0 0 15px;
}

.modal input[value="true"] {
    margin: 0;
}

#submit {
    padding: 0.75em 3em;
    background-color: #26c6da;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 0;
}

#submit:hover {
    background-color: rgb(163, 255, 102);
}