
/* /* ==========================================================================
   Header & Footer Styles for Login
   ========================================================================== */

   header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(30, 136, 229,0.1);
    height: 70px; 
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
    
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    height: 33px;
    padding-left: 15px;
}

.logo-text {
    color: white;
    padding-top: 2px;
    padding-left: 15px;
    letter-spacing: 0.6px;
    font-size: 1.25em;
}

.logo-text span {
    font-weight: 200;
}

header nav {
    padding-right: 15px;
}

header nav a {
    color: white;
    padding: 7px 12px;
    border-radius: .25rem;
    transition: 0.2s ease-in;
}

header nav a:hover {
    background-color: #ffb22b !important;
    box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2) !important;
}

header nav a.register {
    background-color: #26c6da;
    border-color: #26c6da;
    box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
} 

body{
    background-image: url("../images/cute-cuddly-toy-cartoon-costume.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; 
    background-size: cover;
    overflow: auto;
    
}
footer {
    background-color: white;
    height: 55px;
    display: flex;
    align-items: center;
    color: #67757c;
    font-weight: 300;
    width: 100%;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #f2f6f8;
}

footer p {
    padding: 15px;
}
#goodhabit {
    float: right;
    height: 100%;
    width:auto;
    text-shadow: 2px 2px green;
    margin-right: 5em;
    color: white;
    
}
#badhabit{
    height:100%;
    float: left;
    text-shadow: 2px 2px red;
    color: white;
    margin-left: 5em;
    
}

.buttonholder{
    margin-top: 20em;    
}
#badhabit h1{
    float: center;
}

#badhabit .register{
    background-color: rgb(175, 76, 76); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;   
}

#goodhabit .register{
    background-color: green;    
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

@import url(login.css);