.cd-user-modal-container {
    padding-top: 4.75rem;
    background-color: darkturquoise;
    border-radius: 0;
    height: 700px;
}

#cd-signup {
    min-width: 60%;
    max-width: 600px;
    margin: 0 auto;
}

.FAQ {
    padding: 100px 0;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: auto; */
    /* grid-auto-flow: column; */
    grid-gap: 2rem;
}

.question-wrapper {
    grid-column: span 6;
    grid-row: auto;
}

.form-title h2 {
    color: white;
    font-size: 2em;
}

.form-title p {
    padding-top: 1em;
    color: whitesmoke;
}