@import "./sitewide/header_footer.css";

* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    background: url('../images/loader.gif');
    background-size: cover;
    background-position: center;
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}

#jumbotron {
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    border-radius: 0.8em;
    padding: 1em 1em;
}

h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
}

p {
    padding-top: 10px;
    margin: auto;
    width: 280px;
}

@media only screen and (max-width: 280px) {

    body, p {
        width: 95%;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }

}
