@import 'sitewide/header_footer.css';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height:80vh;
}

.message {
    color: red;
    font-size: 0.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 2px 0;
}