{{> header link1='support' link2='login'}}

<main>
    <h1>Log in!</h1>
    <p class="message">{{message}}</p>
    <form id="login-form" action="/login" method="POST">
        <label for="username">Username</label>
        <br>
        <input name="username" type="text" placeholder="Username" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input name="password" type="password" placeholder="Password" required>
        <br>
        <input type="submit" value="Log in">
    </form>

    Do not have an account yet?
    <a href="/">Sign up</a>
</main>