<div class="container">
    <div class="title">
        <h1 class="four">4</h1>
        <img src="images/HabitRabbitLogoNewTransparent.png" alt="0" class="zero">
        <h1 class="four">4</h1>
    </div>
    <h3 class="page-not-found">
        Page Not Found
    </h3>
    <p class="sub-text">
        Turn Around Little Bunny, You've Hopped Too Far
    </p>
    <div class="buttons">
        <a href="/" class="button home">Home</a>
        <a href="/register" class="button signup">Sign Up</a>
    </div>
</div>