<div class="grid-container">
    <div id="toolbar">
        <div class="toolbar-logo">
            <img class="logo" src="images/HabitRabbitLogoNew.png" alt="HabitRabbit Logo"></img>
            <h1>HabitRabbit</h1>
        </div>
        <ul class="toolbar-items">
            <a href="/dashboard"><li class="toolbar-item"><i class="fas fa-home fa-lg"></i><p>Dashboard</p></li></a>
             <a href="/analytics"><li class="toolbar-item" current><i class="fas fa-chart-bar fa-lg"></i><p>Analytics</p></li></a>
             <a href="/social"><li class="toolbar-item"><i class="fas fa-users fa-lg"></i><p>Social</p></li></a>
             <a href="/profile"><li class="toolbar-item"><i class="fas fa-user-circle fa-lg"></i><p>Profile</p></li></a>
        </ul>
        <a href="/logout" id="logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
    </div>
    <div id="main">
    </div>
</div>


