<section id="toolbar">
  <h3 class="label">Dashboard</h3>
  <ul class="toolbar-items">
    <li class="toolbar-item"><a href="#" id="add"><i class="fa fa-plus" aria-hidden="true"></i> Add a new habit</a></li>
    <li class="toolbar-item"><a href="#"><i class="fa fa-filter" aria-hidden="true"></i> Filter</a></li>
  </ul>
    
</section>

<section id="main">
  <ul id="habits">
  </ul>


  <div id="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1>add that habit!</h1>
      <form id="createhabit" action="/add" method="POST">
        <label for="name">habit name</label><br>
        <input name="name" type="text" required placeholder="e.g. Go to the gym"><hr>
        <label for="end">How many days until you don't need us anymore?</label>
        <br>
        <input name="end" type="number" placeholder="42" min="1" max="5000" required>
        <hr>
        <fieldset>
          <label for="days">On which days do you want to check your progress?</label>
          <br>
          <input type="checkbox" name="days" value="Monday">Monday</br>
          <input type="checkbox" name="days" value="Tuesday">Tuesday</br>
          <input type="checkbox" name="days" value="Wednesday">Wednesday</br>
          <input type="checkbox" name="days" value="Thursday">Thursday</br>
          <input type="checkbox" name="days" value="Friday">Friday</br>
          <input type="checkbox" name="days" value="Saturday">Saturday</br>
          <input type="checkbox" name="days" value="Sunday">Sunday</br>
        </fieldset>
        <hr>
        <fieldset>
          <label for="type">Do you want to get rid of, or start a habit?</label>
          <br>
          <input name="type" type="radio" value="good">good<br>
          <input name="type" type="radio" value="bad">bad<br>
          <br>
        </fieldset>
        <input id="submit" type="submit" value="add">
      </form>
    </div>
  </div>
</section>

<script src='../js/dashboard.js'></script>
