<script src="../js/index.js" type="text/javascript"></script>

<body>
    <div id="goodhabit">
        <div class="buttonholder">
        <h1>Want to create a new habit?</h1>
        </div>
                        <a href="/register" class="register"><i class="fas fa-user-plus"></i> Sign up</a>

    </div>
    
    <div id="badhabit">
        <div class="buttonholder">
        <h1>Want to get rid of a bad habit?</h1>
        
        </div>
                        <a href="/register" class="register"><i class="fas fa-user-plus"></i> Sign up</a>

    </div>
</body>