<div class="cd-user-modal-container">
    <div id="cd-login">
        <form class="cd-form" action="/login" method="POST">
        <div class="form-title">
            <img id="login-logo" src="images/HabitRabbitLogoNewTransparent.png"></img>
            <h2>Log in to HabitRabbit</h2>
            <p>Check how you are doing and enjoy!</p>
        </div>
        <p class="fieldset">
            <label class="image-replace cd-username" for="signin-username">Username</label>
            <input name="username" class="full-width has-padding has-border" id="signin-username" type="text" placeholder="Username">
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-password" for="signin-password">Password</label>
            <input name="password" class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
            <a href="#0" class="hide-password">Show</a>
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <input type="checkbox" id="remember-me" checked>
            <label for="remember-me">Remember me</label>
        </p>

        <p class="fieldset">
            <input class="full-width" type="submit" value="Login">
        </p>
            <p class="sub-message">Don't have an account yet? <a href="/register">Sign up.</a></p>
        </form>
    </div>
</div>

<script src="../js/index.js" type="text/javascript"></script>
