{{!-- Page Title --}}

<div class="page-title">
    <div class="title">
        <h3>Profile</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </div>
    <div class="buttons">
        <a class="button" href="#">Upgrade To Pro</a>
    </div>
</div>

{{!-- Page Content --}}

<div class="page-content">
    <h2>Welcome to your profile!</h2>
</div>

{{!-- End of Page Content --}}
