<div id="preloader">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div class="grid-wrapper container">
    <div class="topbar topbar-logo">
        <img class="logo-img" src="./images/logo-light-icon.png"></img>
        <h3 class="logo-text">Habbit<span>Rabbit</span></h3>
    </div>
    <div class="topbar header">
        <div class="menu-toggle">
            <i class="fas fa-bars fa-lg"></i>
        </div>
        <div class="nav-item">
            <a href class="pf-item nav-link"><img src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c157.0.765.765/25036516_1522877107793926_8260922719688720384_n.jpg" alt="user" class="profile-pic">Luca Cras</a>
        </div>
    </div>
    <aside class="left-sidebar">
        <nav class="sidebar-nav">
            <ul class="sidebar-items">
                <li><a href="/dashboard" class="sidebar-item"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
                <li><a href="/analytics" class="sidebar-item"><i class="fas fa-chart-line"></i> <span>Analytics</span></a></li>
                <li><a href="/social" class="sidebar-item"><i class="fas fa-users"></i> <span>Social</span></a></li>
                <li><a href="/profile" class="sidebar-item active"><i class="fas fa-user"></i> <span>Profile</span></a></li>
            </ul>
        </nav>
        <a class="button orange logout" href="/logout">Log out</a>   
        <div class="footer">
            <a href="/settings" class="footer-settings"><i class="fas fa-cog"></i></a>
            <a href="/logout" class="footer-logout"><i class="fas fa-power-off"></i></a>
        </div>
    </aside>
    <main class="page-wrapper">
        <div class="page-title">
            <div class="title">
                <h3>Profile</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div>
            <div class="buttons">
                <a class="button" href="#">Upgrade To Pro</a>
            </div>
        </div>
        <h2>Welcome to your profile!</h2>
        <div class="footer page-footer"> © 2017 HabitRabbit by Luca & Bram </div>
    </main>
</div>
<script src="js/webapp.js"></script>
