<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="The most advanced habit tracker you've ever seen.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,700" rel="stylesheet">

        <link rel="stylesheet" href="{{ stylesheet }}">
        <link rel="stylesheet" href="../css/sitewide.css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <header>
            <a href="/" class="header-logo">
                <img src="../images/HabitRabbitLogo.png" alt="HabitRabbit" class="logo">
            </a>

            <nav>
                <a href="/">Home</a>
                {{#if isAuthenticated}}
                <a href="/dashboard">Dashboard</a>
                <a href="/analytics">Analytics</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/register" class="is-selected">Register</a>
                {{/if}}
            </nav>
        </header>

        {{{body}}}
        
        <footer>
            <p id="copyright">HabitRabbit © 2017 All Rights Reserved.</p>
        </footer>
    </body>
    
</html>

